.wrap {
  display: flex;
  background-color: turquoise;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 13px -7px darkgray;
}
.phonebook {
  padding: 40px;
}
.title {
  color: chocolate;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.contacts {
  background-color: chocolate;
  padding: 40px;
  padding-top: 50px;
  min-width: 320px;
}
.subTitle {
  letter-spacing: 1px;
}
